#login-button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.linklike-button {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.listItem {
  background: rgba(158,158,158,.2);
  margin-bottom: 5px;
}

.listItem p {
  display: inline;
}

#viewRequests {
  margin-bottom: 10px;
}

#ViewFulfilRequests {
  margin-bottom: 10px;
}

.txtQuantity {
  right: 90%;
}

.supplyButton {
  display: block;
  height: 25px;
}

.deliveryCompleteButton {
  display: block;
  height: 25px;
}

.volunteerButton {
  display: block;
  height: 25px;
}

.address {
  display: block;
}